.waveDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 100%;  
    margin: 10px 0;
    overflow-wrap: anywhere ;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
  
}
  


